
<a style="color: white;margin-right: 10px;" href="@Url.Action("Giohang","Giohang")">
    @*<img style="width: 22px;" src="~/content/images/giohang.png" />*@
    Giỏ hàng (@ViewBag.Tongsoluong)
</a>