
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-left: 200px; margin-right: 300px; margin-top: 100px; margin-bottom: 100px; ">
    <h2>Xác nhận đơn hàng của quý khách đã được chúng tôi ghi nhận, chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất và giao hàng đúng hẹn </h2>
    <a
        @Html.ActionLink(" Về trang chủ", "Index", "Home")
    </a>

</div>